<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
</head>
<body>
    <table class="default">
      <tr>
        <th>Category</th>
        <th>Description</th>
      </tr>

        {% for category in object_list %}
          <tr>
            <td>{{ category.name }}</td>
            <td> {{ category.description }}</td>
            <td>
                <a href="{% url 'update_category' category.id %}"><button type="button"> Edit </button></a>
                <a href="{% url 'delete_category' category.id %}"><button type="button"> Delete </button></a>
            </td>
          </tr>
        {% endfor %}
    </table>

</body>
</html>