<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body>
    <table class="default">
      <tr>
        <th>Task</th>
        <th>Description</th>
      </tr>

        {% for task in object_list %}
          <tr>
            <td>{{ task.name }}</td>
            <td> {{ task.description }}</td>
            <td>
                <a href="{% url 'update_task' task.id %}"><button type="button"> Edit </button></a>
                <a href="{% url 'delete_task' task.id %}"><button type="button"> Delete </button></a>
            </td>
          </tr>
        {% endfor %}
    </table>

</body>
</html>